* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    background-color: black;
}

body {
    font-family: 'Roboto';
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

nav,
.header-main {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

.links {
    list-style: none;
    display: flex;
    gap: 32px;
}

.links a {
    color: #e5e7eb;
}

.header-main {
    min-height: 450px;
    display: flex;
    align-items: center;
}

.header-main-left {
    flex-grow: 1;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.header-title {
    font-size: 48px;
    font-weight: 900;
}

.header-text {
    color: #e5e7eb;
    padding-right: 16px;
}

.sign-up {
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.header-main-placeholder {
    flex-grow: 1;
    flex-basis: 50%;
    min-height: 250px;
    color: #e5e7eb;
    background-color: #8f92a1;
    display: flex;
    justify-content: center;
    align-items: center;
}